{{!-- <div class="card mb-4">
    <div class="row g-0">
        <div class="col-md-3 card">
            <img class="card-img img-fluid serviceImage" src="../assets/Dog.jpg">
        </div>
        <div class="col-md-6">
            <div class="card-body mt-2 ms-2">
                <p class="mb-2" id="post-date-text">{{ service_date }}</p>
                <h5 class="mb-3" id="service-title">{{ service_name }}</h5>
                <p class="mb-3" id="service-description">{{ service_description }}</p>
                <p id="service-user-location-text">{{ service_location }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-body mt-3">
                <h4 class="service-points">{{ service_price }}<span class="fs-6">Points</span></h4>
                <p class="mb-2 fw-bold" id="post-date-text">Status: {{ service_status }}</p>
                <p class="mb-2" id="post-date-text">Requester: {{ user.first_name }} {{ user.last_name }}</p>
                <p class="mb-2" id="post-date-text">Responder: {{ id }}</p>
                <p id="service_id">Here : {{ id }}</p>
                <div class="d-grid gap-2 d-md-flex mt-3 mb-3">
                    <button class="btn btn-primary profile-button"  id="accept" type="button">Accept</button>
                    {{!-- <button class="btn btn-primary profile-button" type="button">Pay</button> --}}
                    <button class="btn btn-primary me-md-2 profile-button" type="button">Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/acceptService.js"></script> --}}